.BackYard {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    z-index: 100000;
}

/* כותרת */
.BackYard-orders {
    color: #fff;
    font-family: Assistant;
    font-size: 5vmin;
    margin-top: 8vh;
    text-align: center;
}

/* כפתור סגירה */
.BackYard .XBtn {
    width: 4vw;
    z-index: 2000;
}

.yard-close-button {
    position: absolute;
    top: 1vw;
    left: 1vw;
    background: none;
    border: none;
    cursor: pointer;
}

/* קונטיינר מרכזי אנכי */
.BackYard-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh; /* מרווח אנכי בין הכפתורים לתמונה */
    margin-top: 8vh;
}

/* שורות כפתורים */
.buttons-row {
    display: flex;
    gap: 2vw; /* מרווח בין הכפתורים בשורה */
    flex-wrap: wrap; /* מאפשר כיווץ במסכים קטנים */
    justify-content: center;
}

/* תמונת הרקע */
.Yard-back-landscape {
    width: 130vw; /* ניתן לשנות גודל */
    height: auto;
    border-radius: 12px;
}

/* סגנון הכפתורים */
.side-button {
    width: 22vw;
    height: 8vh;
    font-family: "Assistant";
    font-weight: 700;
    background: rgb(197 227 255);
    color: #363636;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 6px;
    text-align: center;
    padding: 0.5vh 0;
}
