.Emergency-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-image: url('/public/assets/imgs/Bg2.jpg');
    overflow-y: scroll; /* Ensure the container is scrollable */
    overflow-x: hidden;

}

/* שכבת השחרה */
.Emergency-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 145%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

    
    
    .emergency-title{
        font-family: "karantina";
        font-size: 3em;
        font-weight: 400;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        width: 90vw;
        color: #ffffff;
        margin-top: -56vh;
        text-align: center;
    
    }
   