.homepage-container {
    position: relative; /* משנה מ-fixed ל-relative כדי שהתוכן יזרום טבעית */
    width: 100vw;
    min-height: 100vh; /* לפחות גובה מסך */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1000;
    background-image: url('/public/assets/imgs/Bg2.jpg');
    padding: 5vh 0 10vh 0; /* padding תחתון כדי שהכפתור לא ייגע בקצה */
    overflow-y: auto;
    overflow-x: hidden;
}


/* שכבת השחרה */
.homepage-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.815);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: -1;
}

.home-title {
    font-family: "karantina";
    font-size: 3em;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin-bottom: 3vh;
}

.speech-container {
    width: 90vw;
    background-color: black;
    border-radius: 20px;
    border: 3px solid white;
    padding: 2vh 2vw;
    font-size: 1.1em;
    text-align: right;
    color: white;
    box-sizing: border-box;
    margin-bottom: 2vh;
    text-align: center;
}

.speech {
    direction: rtl;
    font-size: 5.5vmin;
    font-family: "Assistant";
}

.greeting-div {
    width: 75vw;
    border-radius: 20px;
    background-color: white;
    padding: 2vh 2vw;
    box-sizing: border-box;
    display: flex;               /* הפיכת הדיב להורה flex */
    flex-direction: column;      /* שמירה על הטקסט מתחת */
    align-items: center;
    margin-bottom: 2vh;
}

.greeting-logos {
    display: flex;               /* שורה */
    justify-content: center;     /* ממרכז את הלוגואים */
    gap: 2vw;                    /* רווח בין הלוגואים */
    margin-bottom: 1vh;
}

.logo1, .logo2 {
    width: 16vw;
    height: auto;
}

.credits {
    text-align: center;
    font-family: "Assistant";
    margin-top: 1vh;
}

.start-button {
    background-color: #000000;
    color: #fff;
    border: 2px solid #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 3em;
    width: 63vw;
    font-family: "Karantina", sans-serif;
    cursor: pointer;
    text-transform: uppercase;
}
.start-button:active {
    background-color: #ffffff;
    color: black;
}
