.Ready-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-image: url('/public/assets/imgs/Bg2.jpg');
    overflow-y: scroll; /* Ensure the container is scrollable */
    overflow-x: hidden;

}

/* שכבת השחרה */
.Ready-container::before {
    content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 110%;
        background: rgb(0 0 0 / 71%);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(1px);
        z-index: -1;
}

    
 
    .title-container-ready{
        background-color: rgb(0 0 0 / 82%);
        border: white solid 3px;
        border-right: none;
        width: 94vw;
        right: 0vw;
        position: absolute;
        margin-top: -64vh;
        height: 12vh;
        z-index: -1;
        border-top-left-radius: 10vh;
        border-bottom-left-radius: 10vh;
        
        
    }
    .ready-title{
        font-family: "karantina";
        font-size: 3em;
        padding-left: 10vw;
        font-weight: 400;
        position: absolute;
        margin-top: 3vh;
        width: 90vw;
        color: #ffffff;
        text-align: left;
    
    }
    .icon-title-ready{
        position: absolute;
        height: 10vh;
        right: 9vw;
        margin-top: 1vh;
        width: auto;
    }
    .Ready-instructions{
      font-family: "Assistant";
      color: white;
      position: absolute;
      margin-top: 15vh;
      font-size: 5vmin;
      text-align: center;
      width: 100vw;
      right: 1vw;
    }
  




.venn-container {
  position: relative;
  width: 80vw;
  height: 80vw;
  max-width: 600px;
  max-height: 600px;
  margin-top: 25vh ;
  border-radius: 50%;
  border: 3px solid white;
  background: conic-gradient(
   rgba(41, 102, 216, 0.8) 0deg 120deg,     /* שליש A */
    rgba(235, 126, 16, 0.8) 120deg 240deg,    /* שליש B */
    rgba(63, 184, 206, 0.8) 240deg 360deg     /* שליש C */
 
   
  );
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  right:40%;
  transform: translateX(50%);
}

/* כפתור הוא רק טקסט */
.venn-circle {
  position: absolute;
  width: 40%;
  height: 36%;
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: "Assistant", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 6vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* מיקום הטקסט במרכז כל שליש */
.circle-a{
  position: absolute;
  top:15%;
  right:50%;
}

.circle-b{
  position: absolute;
  top:65%;
  right:30%;
}
.circle-c{
  position: absolute;
  top:15%;
  right:10%;
}



/* שינוי בעיצוב בלחיצה – למשל להוסיף ✔ */
.venn-circle.clicked::before {
  content: " ✔";
  color: white;
  font-weight: bold;
  font-size: 9vmin;
}


  .Ready-container .navigation-btn{
position: relative;
    bottom: 2vh;
    left: 46%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 90%;
    direction: rtl;
    gap: 260px;
    font-family: 'Assistant', sans-serif;
    margin-bottom: 27px;
    Z-INDEX: 1000000;
}

.Ready-container .next .prev {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    color: rgb(89, 89, 89);
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

.Ready-container .left{
    transform: rotate(180deg);

}

.Ready-container .text-lable{
    text-align: center;
    position: relative;
    top: 10vh;
    width: 10vw;
    color: #ffffff;
    font-weight: bold;
}

.KOH{
    position: absolute;
    left: 37vw;
    top: 41vh;
    z-index: 1000;
    color: rgb(0, 0, 0);
    font-family: "Assistant";
    font-size: 6vmin;
    font-weight: bold;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background-color: #ffffff;
    line-height: 15vw; 
}
